<li class="event ">
  <div class="title-block">
   <h3>  <%= link_to "#{event.title.nil? ? "Event" : event.title}", event_path(event) %>
    <h4> <%= event.date.year == Date.current.year ? event.date.to_formatted_s(:short) : event.date.to_formatted_s(:long) %></h4>
    
    <% if current_user == event.creator %>
      <%= link_to 'Edit', edit_event_path(event) %> |
      <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
    <% end %>
    
    <% if event.attendees.find_by(id: current_user) %>
      <%= link_to 'Leave', leave_event_path(event), method: :delete %>
    <% elsif !current_user.nil? and !event.is_past_event? %>
      <%= link_to 'Join', join_event_path(event) %>
    <% end %>
  </div>
  <p> <%= event.description %></p>
</li>

