<% if event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
    <% event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% provide(:title, "Create Event") %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="well well-lg">
      <%= form_for(@event) do |f| %>

        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control", autofocus: true %>

        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", :size => "20x5" %>

        <div class="row">

          <div class="col-sm-4">
            <%= f.label "Date" %>
            <div class="input-group date">
              <%= f.date_field :date, class: "form-control" %><span class="input-group-addon"></span>
            </div>
          </div>

        </div>

        <div class="row create-bottom">
          <div class="col-sm-4 col-sm-offset-4">
            <%= f.submit "Submit", class: "form-control btn btn-success create-button"%>  
          </div>
        </div>

      <% end %>
      
    </div>
  </div>
</div>