<%= render @event %>
  <table>
    <th> Attendees</th>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  <table>
